<div class="card text-white box-shadow-0 bg-gradient-x2-red" style="zoom: 1;">
    <div class="card-header">
        <h4 class="card-title text-white">ВНИМАНИЕ !</h4>
        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
            <ul class="list-inline mb-0">
                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                <li><a data-action="close"><i class="ft-x"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="card-content collapse show" style="">
        <div class="card-body">
            <p class="card-text">
                На данную сущность могут ссылаться другие, при удалении данные ссылки будут уничтожены.
            </p>
        </div>
    </div>
</div>