<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="refresh" content="1; url=@ViewBag.redirectUrl" />
    <link href="~/wwwroot/css/vendor/vendor-head.min.css" rel="stylesheet" />
    <link href="~/wwwroot/css/app/app.min.css" rel="stylesheet" />
    <script src="~/wwwroot/js/vendor/head.min.js"></script>
</head>

<body class="vertical-layout vertical-menu 1-column   menu-expanded blank-page blank-page" data-open="click" data-menu="vertical-menu" data-col="1-column">
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row"></div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <div class="p-1"><img style="max-height:50px;" class="brand-logo" alt="modern admin logo" src="/Content/images/logo/unic.png"></div>
                                    </div>
                                    <h2 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>Переадресация</span></h2>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <h5 class="text-center">Вы будете переадресованы на страницу единой аутентификации.</h5>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="">
                                        <p class="float-sm-right text-center m-0">CC REP</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="~/wwwroot/js/vendor/vendor.min.js"></script>
</body>
</html>