@using System.Security.Principal

@model CcRep.Models._mail.ContactUs

@{
    IIdentity userIdentity = HttpContext.Current.User.Identity;
}

<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-dark navbar-shadow navbar-brand-center" data-nav="brand-center">
    <div class="navbar-wrapper">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu font-large-1"></i></a></li>
                <li class="nav-item">
                    <a class="navbar-brand" href="/">
                        <img class="brand-text brand-logo" alt="modern admin logo" src="/Content/images/logo/unic.png">
                        <h3 class="brand-text">Отчетность ВК</h3>
                    </a>
                </li>
                <li class="nav-item d-md-none">
                    <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="la la-ellipsis-v"></i></a>
                </li>
            </ul>
        </div>
        <div class="navbar-container content">
            <div class="collapse navbar-collapse" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs is-active" href="#"><i class="ft-menu"></i></a></li>
                    <li class="nav-item d-none d-md-block"><a class="nav-link nav-link-expand" href="#"><i class="ficon ft-maximize"></i></a></li>
                    <li class="dropdown nav-item mega-dropdown">
                        <a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown">Меню</a>
                        <ul class="mega-dropdown-menu dropdown-menu row">
                            <li class="col-md-3">
                                <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="la la-newspaper-o"></i> CCRep</h6>
                                <div id="mega-menu-carousel-example">
                                    <div>
                                        <img class="rounded img-fluid mb-1" src="~/Content/images/unicredit.png" alt="First slide" />

                                    </div>
                                </div>
                            </li>

                            <li class="col-md-4">
                                <h6 class="dropdown-menu-header text-uppercase"><i class="la la-list-ul"></i>Информация</h6>
                                <div id="accordionWrap" role="tablist" aria-multiselectable="true">
                                    <div class="card border-0 box-shadow-0 collapse-icon accordion-icon-rotate">
                                        <div class="card-header p-0 pb-2 border-0" id="headingOne" role="tab">
                                            <a data-toggle="collapse" data-parent="#accordionWrap" href="#accordionOne" aria-expanded="true" aria-controls="accordionOne">О системе</a>
                                        </div>
                                        <div class="card-collapse collapse show" id="accordionOne" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                                            <div class="card-content">
                                                <p class="accordion-text text-small-3">
                                                    Программа предназначена для подготовки обязательной отчетности в ЦБ РФ по формам 0409405 и 0409406.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card-header p-0 pb-2 border-0" id="headingTwo" role="tab">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionWrap" href="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">Список администраторов</a>
                                        </div>
                                        <div class="card-collapse collapse" id="accordionTwo" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                            <div class="card-content">
                                                <ul class="list-group">
                                                    <li class="list-group-item">Андрей Иванов</li>
                                                    <li class="list-group-item">Валентин Петров</li>
                                                    <li class="list-group-item">Серге Сергеев</li>
                                                </ul>
                                                <p> </p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-5">
                                <h6 class="dropdown-menu-header text-uppercase mb-1"><i class="la la-envelope-o"></i>Свяжитесь с нами</h6>
                                
                                @using (Html.BeginForm("ContactUs", "Home", new { area = "" }, FormMethod.Post, new { @class= "onSubmitBlock", @id = "contactUs" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-body">
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label" for="inputName1">Тема</label>
                                            <div class="col-sm-9">
                                                <div class="position-relative has-icon-left">
                                                    @Html.TextBoxFor(m => Model.Theme, new {type = "text", required = true, @class = "form-control", placeholder = "Тема сообщения" })
                                                    <div class="form-control-position pl-1"><i class="la la-envelope-o"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 form-control-label" for="inputMessage1">Сообщение</label>
                                            <div class="col-sm-9">
                                                <div class="position-relative has-icon-left">
                                                    @Html.TextAreaFor(m => Model.Body, new { @class = "form-control", id = "inputMessage1", rows = "2", required = true, placeholder = "Введите сообщения" })
                                                    <div class="form-control-position pl-1"><i class="la la-commenting-o"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 mb-1">
                                                <button class="btn btn-info float-right" type="submit"><i class="la la-paper-plane-o"></i> Отправить </button>
                                            </div>
                                        </div>
                                    </div>

                                }
                            </li>
                        </ul>
                    </li>
                    @*<li class="nav-item nav-search">
                        <a class="nav-link nav-link-search" href="#"><i class="ficon ft-search"></i></a>
                        <div class="search-input">
                            <input class="input" type="text" placeholder="Поиск...">
                        </div>
                    </li>*@
                </ul>
                <div id="toolbar-options" class="hidden">
                    <a href="#"><i class="fa fa-plane"></i></a>
                    <a href="#"><i class="fa fa-car"></i></a>
                    <a href="#"><i class="fa fa-bicycle"></i></a>
                </div>
                
                <ul class="nav navbar-nav float-right">
                    @if (userIdentity.IsAuthenticated)
                    {
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <span class="mr-1">

                                    <span>Привет, </span>
                                    <span class="user-name text-bold-700">@userIdentity.Name</span>

                                </span>
                                <span class="avatar avatar-online">
                                    <img src="/Content/images/avata.png" alt="avatar"><i></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/account/logout"><i class="ft-power"></i> Выйти</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/account/login">
                                Войти в систему
                            </a>
                        </li>

                    }

                    @*<li class="dropdown dropdown-notification nav-item">
                        <a class="nav-link nav-link-label" href="#" data-toggle="dropdown">
                            <i class="ficon ft-bell"></i>
                            <span class="badge badge-pill badge-default badge-danger badge-default badge-up badge-glow">3</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
                            <li class="dropdown-menu-header">
                                <h6 class="dropdown-header m-0">
                                    <span class="grey darken-2">Уведомления</span>
                                </h6>
                                <span class="notification-tag badge badge-default badge-danger float-right m-0">3 Новых</span>
                            </li>
                            <li class="scrollable-container media-list w-100 ps-container ps-theme-dark" data-ps-id="1f772915-a364-5a0b-e0d2-673f1d0079a4">
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left align-self-center"><i class="ft-plus-square icon-bg-circle bg-cyan"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading">Что-то!</h6>
                                            <p class="notification-text font-small-3 text-muted">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                                            <small>
                                                <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">30 минут назад</time>
                                            </small>
                                        </div>
                                    </div>
                                </a>
                                <a href="javascript:void(0)">
                                    <div class="media">
                                        <div class="media-left align-self-center"><i class="ft-download-cloud icon-bg-circle bg-red bg-darken-1"></i></div>
                                        <div class="media-body">
                                            <h6 class="media-heading red darken-1">99% бла бла</h6>
                                            <p class="notification-text font-small-3 text-muted">Aliquam tincidunt mauris eu risus.</p>
                                            <small>
                                                <time class="media-meta text-muted" datetime="2015-06-11T18:29:20+08:00">5 часов назад</time>
                                            </small>
                                        </div>
                                    </div>
                                </a>


                                <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                            </li>
                            <li class="dropdown-menu-footer"><a class="dropdown-item text-muted text-center" href="javascript:void(0)">Посмотреть все уведомления</a></li>
                        </ul>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</nav>
